body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #6490F5;
    color: #fff;
    height: 60px;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    line-height: 60px;
}

header img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

main {
    background-color: #f0f0f0;
    width: 75%;
    float: left;
}

aside {
    background-color: #ddd;
    width: 25%;
    float: left;
    min-width: 200px;
    min-height: 400px;
}

footer.left {
    background-color: #9298a5;
    color: #fff;
    height: 80px;
    max-height: 80px;
    min-height: 80px;
    float: left;
    width: 50%;
}

footer.right {
    background-color: #919191;
    color: #fff;
    height: 50vh;
    float: left;
    width: 50%;
}
